//========================== UserModule ==========================//
.is-um-active_item {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 200px;
  padding: 20px;
  background-color: #282c34;
  color: #ffffff;
}

//========================== Sidebar ==========================//
.is-s-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  padding: 20px;
  background-color: #282c34;
  border-right: 2px solid #ffffff;
}

.is-s-header {
  font-size: 30px;
  margin-bottom: 20px;
}

.is-s-items {
  & > * {
    padding: 5px 0;
    cursor: pointer;
  }
  & > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
//========================== Topbar ==========================//
.is-t-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  border-bottom: 2px solid #ffffff;
}

.is-t-username {
  margin: 0 20px;
}

.is-t-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;

  img {
    margin-left: 5px;
  }
}

//========================== NewUserForm ==========================//
.is-nuf-container {
  width: 100%;
}

.is-nuf-header {
  font-size: 30px;
  text-align: center;
  margin: 30px 0;
}

.is-nuf-input {
  width: 400px;
  margin: 20px auto;
}

.is-nuf-button {
  width: 300px;
  margin: 20px auto;
}

//========================== UserList ==========================//
.is-ul-container {
  width: 100%;
}

.is-ul-header {
  font-size: 30px;
  text-align: center;
  margin: 30px;
}

.is-ul-user_list {
  max-height: 242px;
  display: flex;
  flex-direction: column;
  border: 2px solid #747474;
  margin: 30px;
  overflow-y: scroll;
  & > * {
    padding: 10px 20px;
  }
  & > *:not(:last-child) {
    border-bottom: 2px solid #747474;
  }
}

.is-ul-duf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.is-ul-input {
  width: calc(50% - 85px);
  margin-right: 10px;
}

.is-ul-button {
  width: 150px;
}

//========================== FileUploader ==========================//
.is-fu-container {
  width: 100%;
}

.is-fu-header {
  font-size: 30px;
  text-align: center;
  margin: 30px;
}

.is-fu-drop_zone {
  height: 85px;
  margin: 30px;
}

.is-fu-file_list {
  max-height: 162px;
  display: flex;
  flex-direction: column;
  border: 2px solid #747474;
  margin: 30px;
  overflow-y: scroll;
}

.is-fu-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  &:not(:last-child) {
    border-bottom: 2px solid #747474;
  }
}

.is-fu-file_title {
  margin-right: 20px;
}

.is-fu-file_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  & > input {
    width: 45px;
    outline: none;
    background-color: #282c34;
    color: #ffffff;
    border: none;
    box-shadow: 0 0 0 1px #ffffff;
    margin-right: 10px;
  }
  & > img {
    cursor: pointer;
  }
}

.is-fu-save_button {
  width: 300px;
  margin: 0 auto;
}

//========================== AvailableFiles ==========================//
.is-af-container {
  width: 100%;
}

.is-af-header {
  font-size: 30px;
  text-align: center;
  margin: 30px;
}

.is-af-file_viewer {
  height: 280px;
  display: flex;
  margin: 30px;
  border: 2px solid #747474;
}

.is-af-file_viewer_info {
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border: 2px solid #747474;
  color: #747474;
  img {
    margin-right: 10px;
  }
}

.is-af-file_list {
  width: 30%;
  border-right: 2px solid #747474;
  & > * {
    padding: 10px;
    cursor: pointer;
  }
}

.is-af-file_list-selected_item {
  background-color: #747474;
}

.is-af-active_file {
  width: 70%;
  padding: 10px;
  overflow-y: scroll;
}

.is-af-active_file_info {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #747474;
}

.is-af-update_button {
  width: 300px;
  margin: 0 auto;
}
